# 这是前端应用的环境变量配置文件。
# 复制这个文件为 .env (cp .env_example .env)，然后填入你自己的值。
# 注意：所有暴露给客户端的环境变量，都必须以 EXPO_PUBLIC_ 开头。

# 你的后端API服务的访问地址。
# 在本地开发时，这通常是你电脑的局-域-网IP地址。
# 部署到生产环境时，这应该是一个公共的URL。
EXPO_PUBLIC_API_URL=http://YOUR_COMPUTER_LAN_IP:28501/api